.components{
    /* margin: 10px; */
    /* padding: 10px; */
    text-transform: lowercase;
}


.button{
    text-transform: capitalize;
    color: #dcdcdc;
    background-color: #0e0e0e;
    padding: 20px;
    width: 100%;
    /* border: none; */

    border: 1px solid #7a7a7a;
    border-radius: 10px;
    font-size: 30px;
    cursor: pointer;
}