.container{
    display: flex;
    flex-direction: column;
}

/* .wrapper{

} */

.maintitle{
    color: #000000;
    padding-top: 10%;
    padding-left: 20%;
    padding-right: 20%;
}

.title{
    font-size: 60px;
}

.subtitle{
    font-size: 50px;
}

.ctbtn{
    margin-top: 50px;
}

.btn{
    width: 150px;
    height: 60px;
}

.btn:hover{
    box-shadow: 0px 0px 10px #000000;
}

.wrapper p{
    color: rgb(3, 3, 3);
    margin: 20vh;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}