.container{
    position: fixed;
    display: flex;
    width:94%;
    /* z-index: 100; */
    padding-right: 60px;
    padding-left: 60px;
    background-color: #1d1d1d;
    border: #000;
    opacity: .9;
    align-items: center;
    justify-content: space-between;
    color: #cfcfcf;
    box-shadow: 5px 5px 20px #000;
}

/* .container.container-scrolled{
    
} */

.buttons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.img{
    display: flex;
}