.page {
  background-image: linear-gradient(to bottom right, #ffffff, #726e6e);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* @media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
} */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  grid-row-start: 2;
  align-items: center;
  justify-content: center;
  padding: 15%;
}

.title{
  font-family: var(--font-inter);
  font-weight: 100;
  font-stretch: extra-expanded;
  color: #0e0e0e;
  font-size: 30px;
  font-weight: 100;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.button{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
  /* text-transform: capitalize; */
  font-family: var(--font-inter);
  font-size: 30px;
  
}

