.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 20;
}

.logo {
  font-size: 1.25rem;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  letter-spacing: -0.02em;
}

.logomark {
  color: var(--accent-primary);
}

.navLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.navLink {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #ccc;
  transition: color 0.2s;
}

.navLink:hover {
  color: var(--accent-primary);
}

.contactBtn {
  background-color: var(--accent-light);
  color: #000;
  font-weight: 800;
  border: 1px solid transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 2px;
  cursor: pointer;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.8rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.contactBtn:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 1px 2px rgba(133, 129, 129, 0.3), 0 0 10px var(--accent-light);
  letter-spacing: 0.1em;
  border-color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1.5rem 1rem;
  }
}
