.container{
    display: flex;
    flex-direction: column;
}

/* .wrapper{

} */

.maintitle{
    color: #292929;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 40%;
}


.title{
    font-size: 80px;
    /* margin-right: 87%; */
    background-image: linear-gradient(to bottom right, #131313,#131313,#131313,#131313,#131313,#131313,#131313, #e9e9e9,#131313,#131313,#131313,#131313,#131313,#131313,#131313);
    background-clip: text;
    background-size: 400% 400%;
    animation: move1 3.5s infinite ease;
    /* animation-play-state: paused; */
    color: transparent;
}

.subtitle{
    font-size: 65px;
    background-image: linear-gradient(to bottom right, #131313,#131313,#131313,#131313,#131313,#131313,#131313, #e9e9e9,#131313,#131313,#131313,#131313,#131313,#131313,#131313);
    background-clip: text;
    font-size: 80px;
    background-size: 400% 400%;
    /* background-position: 0 50%; */
    animation: move 3.5s infinite ease;
    /* animation-play-state: paused; */
    color: transparent;

}


.wrapper p{
    color: rgb(0, 0, 0);
    margin: 20vh;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}


@keyframes move{
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 120% 60%;
	}
    100%{
        background-position: 120% 60%;
    }
}

@keyframes move1{
    0% {
		background-position: 0% 50%;
	}
	60% {
		background-position: 100% 50%;
	}
    100%{
        background-position: 120% 60%;
    }
}