.container{
    display: flex;
    flex-direction: column;
}

/* .wrapper{

} */

.maintitle{
    color: #292929;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 40%;
}


.subtext{
    padding-top: 30px;
    font-size: 40px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.ctbtn{
    margin-top: 50px;
}

.btn{
    width: 150px;
    height: 60px;
}

.btn:hover{
    box-shadow: 0px 0px 10px #000000;
}

.wrapper p{
    color: rgb(0, 0, 0);
    margin: 20vh;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
